---
layout: site
title: About
isHome: true
---
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Posts</strong>
			</div>
			<div class="panel-body">
				<ul>
					{% for post in site.posts | sort "date" %}
					<li>({{ post.date | date: '%B %d, %Y' }}) <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {% for tag in post.tags %}<span class="label label-default">{{tag}}</span>
						{% endfor %}
					</li> {% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Einleitung</strong>
			</div>
			<div class="panel-body">
			
			Hallo
			
			</div>

		</div>
	</div>
</div>
