.unstyled {
    list-style-type: none;
    display: inline;
    padding-left: 0;
}

.unstyled > li {
    display: inline;
}

#categories > ul {
    list-style-type: none;
    padding-left: 0;
}
#categories > ul > li {
    border-bottom: 1px solid #049cdb;
    margin-bottom: 5px;
}
article.post .meta {
    border-bottom: 1px solid #049cdb;
    margin-bottom: 15px;
}